/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  color: #f8f8f2;
  overflow: hidden;
  height: 100vh;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrap {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.particles-wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.particles-js {
  background: #282a36;
}

#top-banner, #contact-banner {
  width: 100vw;
  background: #44475a;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Bad Script', cursive;
}

#top-banner {
  -webkit-transform: rotate(-11deg) translateY(-13vh);
          transform: rotate(-11deg) translateY(-13vh);
  padding: 10em 5em 2em 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-banner #name, #top-banner #subtitle {
  width: 90vw;
}

#top-banner #name {
  font-size: 2.5em;
  margin: 0.5em;
}

#top-banner #subtitle {
  font-size: 1.5em;
  color: #ff79c6;
}

#link-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: rotate(-11deg) translateX(2vw) translateY(-12vh);
          transform: rotate(-11deg) translateX(2vw) translateY(-12vh);
  width: 100vw;
  padding: 0.25em;
  font-family: 'Bad Script', cursive;
  font-size: 1.5em;
  color: #ffb86c;
  text-align: left;
}

#link-banner #about-link, #link-banner #project-link {
  margin: 0.25em 2em 0.25em 2em;
}

#link-banner #about-link {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

#link-banner #project-link {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

#contact-banner {
  font-size: 1.5em;
  -webkit-transform: rotate(-11deg) translateY(7vh);
          transform: rotate(-11deg) translateY(7vh);
  padding: 1em 7.5em 2.5em 5em;
  color: #ffb86c;
  text-align: right;
}

#contact-banner #contact-link {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

#about {
  z-index: 2;
  background: #282A36;
  padding: 2em;
  border-radius: 7px;
  max-width: 40%;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
}

#about #intro {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

#about #techs-start {
  text-align: center;
}

#about #techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .tech-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

#about .tech-icons {
  width: 2em;
  height: 2em;
  margin: 0 2em 0 2em;
  -webkit-filter: invert(86.5%);
          filter: invert(86.5%);
}

#about .tech-labels {
  text-align: center;
}

#about #projects-link {
  margin: 0 auto;
}

#contact-me {
  max-width: 60vw;
  margin-top: -3em;
  padding: 2em;
  border-radius: 7px;
  background: #282a36;
  z-index: 2;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
}

#contact-me .contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

#contact-me .contact-details {
  width: 2em;
  height: 2em;
  margin: 0 2em 0 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#contact-me .contact-icons {
  width: 2em;
  height: 2em;
  margin: 1em 2em 1em 2em;
  -webkit-filter: invert(86.5%);
          filter: invert(86.5%);
}

#contact-me .contact-icons:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#contact-me .contact-labels {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-aspect-ratio: 7 / 10) {
  #top-banner {
    -webkit-transform: rotate(-11deg) translateY(-12vh);
            transform: rotate(-11deg) translateY(-12vh);
    text-align: left;
  }
  #link-banner {
    -webkit-transform: rotate(-11deg) translateX(3vw) translateY(-12vh);
            transform: rotate(-11deg) translateX(3vw) translateY(-12vh);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #contact-banner {
    -webkit-transform: rotate(-11deg) translateY(8vh);
            transform: rotate(-11deg) translateY(8vh);
  }
}

@media only screen and (min-aspect-ratio: 4 / 3) {
  #top-banner {
    -webkit-transform: rotate(-11deg) translateY(-20vh);
            transform: rotate(-11deg) translateY(-20vh);
    text-align: left;
  }
  #link-banner {
    -webkit-transform: rotate(-11deg) translateX(3vw) translateY(-20vh);
            transform: rotate(-11deg) translateX(3vw) translateY(-20vh);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #contact-banner {
    -webkit-transform: rotate(-11deg) translateY(16vh);
            transform: rotate(-11deg) translateY(16vh);
  }
}

@media only screen and (min-aspect-ratio: 16 / 10) {
  #top-banner {
    -webkit-transform: rotate(-11deg) translateY(-23vh);
            transform: rotate(-11deg) translateY(-23vh);
    text-align: left;
  }
  #link-banner {
    -webkit-transform: rotate(-11deg) translateX(3vw) translateY(-23vh);
            transform: rotate(-11deg) translateX(3vw) translateY(-23vh);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #contact-banner {
    -webkit-transform: rotate(-11deg) translateY(19vh);
            transform: rotate(-11deg) translateY(19vh);
  }
}

@media only screen and (min-aspect-ratio: 21 / 9) {
  #top-banner {
    -webkit-transform: rotate(-11deg) translateY(-27vh);
            transform: rotate(-11deg) translateY(-27vh);
    text-align: left;
  }
  #link-banner {
    -webkit-transform: rotate(-11deg) translateX(3vw) translateY(-27vh);
            transform: rotate(-11deg) translateX(3vw) translateY(-27vh);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #contact-banner {
    -webkit-transform: rotate(-11deg) translateY(25vh);
            transform: rotate(-11deg) translateY(25vh);
  }
}
/*# sourceMappingURL=style.css.map */