@import 'reset';

html, body {
  color: #f8f8f2;
  overflow: hidden;
  height: 100vh;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-wrap {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.particles-wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.particles-js {
  background: #282a36;
}

#top-banner, #contact-banner{
  width: 100vw;
  background: #44475a;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Bad Script', cursive;
}

#top-banner {
  transform: rotate(-11deg) translateY(-13vh);
  padding: 10em 5em 2em 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  #name, #subtitle {
    width: 90vw;
  }
  #name {
    font-size: 2.5em;
    margin: 0.5em;
  }
  #subtitle {
    font-size: 1.5em;
    color: #ff79c6;
  }
}

#link-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: rotate(-11deg) translateX(2vw) translateY(-12vh);
  width: 100vw;
  padding: 0.25em;
  font-family: 'Bad Script', cursive;
  font-size: 1.5em;
  color: #ffb86c;
  text-align: left;

  #about-link, #project-link {
    margin: 0.25em 2em 0.25em 2em;
  }

  #about-link {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
  }
  #project-link {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
  }
}

#contact-banner {
  font-size: 1.5em;
  transform: rotate(-11deg) translateY(7vh);
  padding: 1em 7.5em 2.5em 5em;
  color: #ffb86c;
  text-align: right;

  #contact-link {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
  }
}

#about {
  z-index: 2;
  background: #282A36;
  padding: 2em;
  border-radius: 7px;
  max-width: 40%;
  box-shadow: 0 1em 3em rgba(0,0,0,0.6);

  #intro {
    margin: 0 auto;
    text-align: center;
    width: 70%;
  }

  #techs-start {
    text-align: center;
  }

  #techs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .tech-icons {
    width: 2em;
    height: 2em;
    margin: 0 2em 0 2em;
    filter: invert(86.5%);
  }

  .tech-labels {
    text-align: center;
  }

  #projects-link {
    margin: 0 auto;
  }
}

#contact-me {
  max-width: 60vw;
  margin-top: -3em;
  padding: 2em;
  border-radius: 7px;

  background: #282a36;
  z-index: 2;
  box-shadow: 0 1em 3em rgba(0,0,0,0.6);

  .contact-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .contact-details {
    width: 2em;
    height: 2em;
    margin: 0 2em 0 2em;
    transition: transform 0.3s;
  }

  .contact-icons {
    width: 2em;
    height: 2em;
    margin: 1em 2em 1em 2em;
    filter: invert(86.5%);
    &:hover {
      transform: scale(1.3);
    }
  }

  .contact-labels {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: inherit;
}


// IPads
@media only screen and (min-aspect-ratio: 7/10) {
  #top-banner {
    transform: rotate(-11deg) translateY(-12vh);
    text-align: left;
  }

  #link-banner {
    transform: rotate(-11deg) translateX(3vw) translateY(-12vh);
    justify-content: flex-start;
  }

  #contact-banner {
    transform: rotate(-11deg) translateY(8vh);
  }
}

// 4:3 Displays
@media only screen and (min-aspect-ratio: 4/3) {
  #top-banner {
    transform: rotate(-11deg) translateY(-20vh);
    text-align: left;
  }

  #link-banner {
    transform: rotate(-11deg) translateX(3vw) translateY(-20vh);
    justify-content: flex-start;
  }

  #contact-banner {
    transform: rotate(-11deg) translateY(16vh);
  }
}

// 16:10 and 16:9 Displays
@media only screen and (min-aspect-ratio: 16/10) {
  #top-banner {
    transform: rotate(-11deg) translateY(-23vh);
    text-align: left;
  }

  #link-banner {
    transform: rotate(-11deg) translateX(3vw) translateY(-23vh);
    justify-content: flex-start;
  }

  #contact-banner {
    transform: rotate(-11deg) translateY(19vh);
  }
}

// 21:9 Displays
@media only screen and (min-aspect-ratio: 21/9) {
  #top-banner {
    transform: rotate(-11deg) translateY(-27vh);
    text-align: left;
  }

  #link-banner {
    transform: rotate(-11deg) translateX(3vw) translateY(-27vh);
    justify-content: flex-start;
  }

  #contact-banner {
    transform: rotate(-11deg) translateY(25vh);
  }
}